#cancha2 {
	width: 700px;
	height: 400px;
	background: #D56807;
	border: 2px black;
	margin: auto auto;
	display: none;
}

#semicirculoB {
    width: 190px; 
    height: 310px; 
    border: 2px solid black; 
    -moz-border-radius: 0 160px 160px 0;
    -webkit-border-radius: 0 160px 160px 0;
    border-radius: 0 160px 160px 0;
    float:left;
	margin-top: 45px;
    position: absolute;
}

#linea2 {
	float:left;
	border-left: 2px solid black; 
	width:2px;
	height:400px;
	margin-left: 350px;
	position: absolute;
}

#semicirculoB2 {
    width: 190px; 
    height: 310px; 
    border: 2px solid black; 
    -moz-border-radius: 160px 0 0 160px;
    -webkit-border-radius: 160px 0 0 160px;
    border-radius: 160px 0 0 160px;
    float:right;
	margin-top: 45px;
}

#mediaCancha2 {
    width: 100px;
    height: 100px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 60%;
  	border: 2px solid black; 
    margin-left: 300px;
    margin-top: 150px;
	position: absolute; 
}

#trapecio1 {
    width: 90px;
    height: 0px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 130px solid #E17311;
    margin-left: 3px;
    margin-top: 130px;
    position:absolute;
    -webkit-transform: rotate(270deg) skew(0deg);
}

#circulo1 {
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid black; 
    margin-left: 93px;
    margin-top: 150px;
    position: absolute; 
}

#trapecio2 {
    width: 90px;
    height: 0px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 130px solid #E17311;
    margin-right: auto;
    margin-top: 130px;
    position:absolute; left:895px;
    -webkit-transform: rotate(90deg) skew(0deg);
}

#circulo2 {
    width: 90px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid black; 
    margin-left: 512px;
    margin-top: 150px;
    position: absolute; 
}