#cancha3 {
    width: 700px;
    height: 400px;
    background: #066412;
    border: 2px white;
    margin: auto auto;
    display: none;
}

#liHorizontal1 {
    background-color: white;
    height: 2px;
    width: 700px;
    margin-top: 50px;
    position: absolute;
}

#liHorizontal2 {
    background-color: white;
    height: 2px;
    width: 700px;
    margin-top: 350px;
    position: absolute;
}

#recArriba {
    margin-left: 100px;
    margin-top: 50px;
    width: 500px; 
    height: 150px; 
    border: 2px solid white;
    position: absolute;
}

#recAbajo {
    margin-left: 100px;
    margin-top: 200px;
    width: 500px; 
    height: 150px; 
    border: 2px solid white;
    position: absolute;
}
